*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2020-02-20-test.md
_posts/2022-09-16-frq1.md
_posts/2022-09-11-psychnotes.md
_posts/2022-09-05-oopcodelearnings.md
_posts/2022-09-02-javaterminal.md
_posts/2022-08-29-notesplanning.md
_posts/2022-08-28-bashcheck.md
_posts/2022-08-19-week0hacks.md
_posts/2022-07-21-javahello.md
_posts/2022-07-28-pythonhello.md
_posts/2022-08-23-week1hacks.md
_posts/2022-09-09-boolean.md
_posts/2022-12-14-apunits2.md
_posts/2022-12-13-recursion.md
_posts/2022-12-11-frq4.md
_posts/2022-12-01-arraylist.md
_posts/2022-11-25-apunits.md
_posts/2022-11-20-classes.md
_posts/2022-10-22-iteration.md
_posts/2022-10-18-booleans.md
_posts/2022-10-12-primitives.md
_posts/2022-09-13-monkeys.md
_posts/2022-09-21-fibonacci.md
_posts/2022-09-25-javascript.md
_posts/2022-10-02-images.md
_posts/2022-10-02-rapidapi.md
_posts/2022-10-08-arraylist.md
_posts/2022-10-13-objectslesson.md
_posts/2022-11-30-arrays.md
_posts/2022-12-06-2Darray.md
_posts/2022-12-12-inheritance.md
